.header {
  position: relative;
  display: grid;
  grid-template-columns: 26px 142px;
  gap: 14px;
  justify-content: space-between;
  padding: 15px;
  background-color: $background-secondary;
}

.header__burger-button {
  width: 26px;
  height: 26px;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-color: transparent;
  background-image: url("../__spritemap#sprite-burger-view");
  border: 0;
  cursor: pointer;

  &--active {
    background-image: url("../__spritemap#sprite-burger-close-view");
  }
}

.header__menu {
  display: none;
  background-color: $background-secondary;
  width: 100%;
  @include list-style (none, 0, 15px);
  padding-bottom: 50px;
  text-transform: uppercase;
  line-height: 14px;


  &--active {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 22px;
    top: 85px;
  }

  &--no-js {
    display: flex;
    flex-direction: column;
    gap: 22px;
    grid-column: 1 / -1;
    position: static;
    padding-top: 0;
    padding-bottom: 35px;
  }
}

.header__link {
  text-decoration: none;
  color: $text-white;
  font-weight: 700;
  letter-spacing: 1px;
}

.haeder__phone-link {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: end;
  color: $text-white;
  text-decoration: none;
  line-height: 14px;
  font-weight: 600;
}
