*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

body {
  margin: 0;
  font-family: $font-primary;
  @include text-style(14px, 20px, 400, $text-base);
  background-color: $background-base;
}
