// Display Resolution
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;

// Padding

$padding-mobile: 20px 15px;
$padding-tablet: 60px 45px;
$padding-desktop: 100px 103px;

// Fonts

$font-primary: "Montserrat", "Arial", sans-serif;
